USE [AdventureWorksLT2008R2]
GO
/****** Object:  StoredProcedure [dbo].[RevenueCalcuation]    Script Date: 01/27/2013 21:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[RevenueCalcuation]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT 'Total income is', ((OrderQty * UnitPrice) * (1.0 - UnitPriceDiscount)), ' for ',
p.Name AS ProductName 
FROM SalesLT.Product AS p 
INNER JOIN SalesLT.SalesOrderDetail AS sod
ON p.ProductID = sod.ProductID 
ORDER BY p.Name ASC;
END
